body {
    margin: 0;
    background-color: #222222;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gridster {
    margin: 0 auto;
}

.gridster .gs-w {
    background: white;
}

/** ---- Widgets Base ---- */

.widget-wrapper {
    display: table;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.widget {
    text-align: center;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.widget h1.title {
    text-align: center;
    font-weight: 400;
    word-wrap: break-word;
}

.widget h2.value {
    text-transform: uppercase;
    font-weight: 700;
}

.widget p.more-info {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    right: 0;
}

.widget p.updated-at {
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    right: 0;
}

.widget[data-status="idle"] {
    background-color: #1d99d4;
}

.widget[data-status="build"] {
    background-color: #63bd4e;
}

.widget[data-status="successful"] {
    background-color: #63bd4e;
}

.widget[data-status="building"] {
    background-color: #f3bb33;
}

.widget[data-status="error"] {
    background-color: #f04245;
}
