body {
    margin: 0;
    background-color: #222222;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gridster {
    margin: 0 auto;
}

.gridster .gs-w {
    background: white;
}

/** ---- Widgets Base ---- */

.widget-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.widget-wrapper .icons-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
}

.widget-wrapper .icons-wrapper a {
    margin-left: 12px;
    color: white;
    text-decoration: none;
}

.widget {
    text-align: center;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.widget h1.title {
    text-align: center;
    font-weight: 400;
    word-wrap: break-word;
    overflow: hidden;
}

.widget h2.value {
    text-transform: uppercase;
    font-weight: 700;
}

.widget p.more-info {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    right: 0;
}

.widget p.updated-at {
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    right: 0;
}

.widget[data-status="build"] {
    background-color: #63bd4e;
}

.widget[data-status="successful"] {
    background-color: #63bd4e;
}

.widget[data-status="building"] {
    background-color: #f3bb33;
}

.widget[data-status="warnings"] {
    background-color: #FF8F03;
}

.widget[data-status="failed"] {
    background-color: #f04245;
}

.widget[data-empty="empty"] {
    background-color: #565656;
}

.widget[data-empty="empty"] p.updated-at {
    color: rgba(255, 255, 255, 0.8);
}

/** ---- Loading Bar ---- */

.loading-container {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}
.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    float: left;
}

.red {
    background: #f66a70;
}

.green {
    background: #9ecb42;
}

.blue {
    background: #21acf9;
}

.purple {
    background: #cd79f0;
}