<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Buildbot Dashboard</title>

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

		<!-- Vendors -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/pace.css">
		<link rel="stylesheet" href="css/jquery.gridster.min.css">

		<!-- Style -->
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/size/{{ genericSize }}.css">
	</head>
	<body>
		{{ yield }}

		<script type="text/javascript">
			var genericSize = "{{ genericSize }}";
			var buildbotUrl = "{{ buildbotUrl }}";
			var ws = null; // hold the ws connection
		</script>

		<!-- Vendors -->
		<script src="js/react.min.js"></script>
		<script src="js/react-dom.min.js"></script>
		<script src="js/react-with-addons.min.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
		<script src="js/pace.min.js"></script>
		<script src="js/jquery.gridster.min.js"></script>
		<script src="js/jquery.gridster.with-extras.min.js"></script>
		<script src="js/moment.min.js"></script>
		
		<!-- Scripts -->
		<script src="js/loading-widget.js"></script>
		<script src="js/build-widget.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
<html>
	<head>
		<title>Battle Arena - Rooms</title>
	</head>
	<body>

	</body>
</html>