<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Buildbot Dashboard</title>

		<!-- Vendors -->
		<link rel="stylesheet" href="css/fonts.css">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/icons.css">
		<link rel="stylesheet" href="css/pace.css">
		<link rel="stylesheet" href="css/jquery.gridster.min.css">

		<!-- Style -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		{{ yield }}

		<script type="text/javascript">
			var buildbotUrl = "{{ buildbotUrl }}";
			var hashedUrl = "{{ hashedUrl }}";
			var ws = null; // hold the ws connection

			window.paceOptions = {
				ajax: {
					trackWebSockets: false
				}
			};
		</script>

		<!-- Vendors -->
		<script src="js/reconnecting-websocket.min.js"></script>

		<script src="js/react.min.js"></script>
		<script src="js/react-dom.min.js"></script>
		<script src="js/react-with-addons.min.js"></script>

		<script src="js/underscore-min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="js/pace.min.js"></script>
		<script src="js/base64.min.js"></script>
		<script src="js/jquery.gridster.min.js"></script>
		<script src="js/jquery.gridster.with-extras.min.js"></script>
		<script src="js/moment.min.js"></script>
		
		<!-- Scripts -->
		<script src="js/loading-widget.js"></script>
		<script src="js/build-widget.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>